<%- model_class = Product.new.class -%>
<h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>

<table class="table table-striped">
  <tbody>
    <% if @products.count == 0 %>
      <tr><td style="text-align:center;"><h3>Sorry! Cannot find what you looking for!</h3></td></tr>
    <% end %>
    <tr>
    <% count = 0 %>
    <% @products.each do |product| %>
      <% count +=1 %>
      <td>
        <div>
          <%= link_to image_tag(product.image_link, :size => "100x100"),product_path(product) %>  
        </div>
        <div>
            <%= product.title %>
        </div>
        <div>
            <%= product.description %>
        </div>
        <div>
            <%= product.activity %>
        </div>
        <div>
            <%= number_to_currency(product.price) %>
        </div>
        <div>
          <%= link_to "Add to Cart", order_items_path(:product_id => product),
          :remote => true,
          :method => :post,
          :class => "btn btn-success" %>
        </div>

        <div>
          <% if admin? %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_product_path(product), :class => 'btn btn-mini' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        product_path(product),
                        :method => :delete,
                        :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                        :class => 'btn btn-mini btn-danger' %>
          <% end %>
        </div>  
      </td>
      <% if count%4 == 0 %>
        </tr><tr>
      <% end %>
    <% end %>
    <tr>
  </tbody>
</table>
